.body {
    background: linear-gradient(to right, #ecf3f1, #7ec3f8);
    font-family: 'Gill Sans MT', 'Trebuchet MS';
}

.box {
    width: 950px;
    height: auto;
    background: #466368;
    background: linear-gradient(to right bottom, #ecf3f1, #7ec3f8);
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5%;
    box-shadow: 3px 3px 9px;
}

.text-1 {
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 10px;
}

.box-2 {
    width: 850px;
    height: auto;
    background: linear-gradient(to right bottom, #ecf3f1, #7ec3f8);
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5%;
    box-shadow: 3px 3px 9px;
}

.text-2 {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}


.Hyperlink {
    text-decoration: none;
    color: rgb(30, 34, 32);
    margin: 5px;
    list-style-type:none;
}

.img {
    height: 50px;
    width: auto;
}

  .box:hover {
    cursor: pointer;
    background-color: #f0f0f0;
  }

 
 
  .text-3 {
    text-decoration: none;
    font-size: 20px;
}

.box-3 {
    width: 800px;
    height: auto;
    background: linear-gradient(to right bottom, #ecf3f1, #7ec3f8);
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5%;
    box-shadow: 3px 3px 9px;
}

#navbar {
    overflow: hidden !important;
}




.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.popup-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.popup-content li {
  margin-bottom: 10px;
}

.popup-content a {
  color: #333;
  text-decoration: none;
}

.popup-content a:hover {
  text-decoration: underline;
}


.popup-content {
  background: linear-gradient(to right bottom, #ecf3f1, #7ec3f8);
  margin: 15% auto;
  padding: 20px;
  border: 1px 1px 2px solid #863232;
  width: 80%;
  font-size: x-large;
  text-decoration: none;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.8s;
  animation-name: slideIn;
  animation-duration: 0.8s;
  text-align: center;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes slideIn {
  from {transform: translateY(-100%);}
  to {transform: translateY(0);}
}

@keyframes slideIn {
  from {transform: translateY(-100%);}
  to {transform: translateY(0);}
}


/* Fade Out */

/* Fade Out */

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
